global
    log stdout format raw local0
    maxconn 10000

defaults
    log global
    mode http
    option httplog
    option dontlognull
    option redispatch

    timeout connect 5s
    timeout client  120s
    timeout server  120s
    timeout http-request 10s
    timeout http-keep-alive 10s

frontend openbao_frontend
    bind *:8200
    mode http

    option forwardfor
    http-request set-header X-Forwarded-Proto http
    http-request set-header X-Forwarded-Port 8200

    default_backend openbao_active_backend

backend openbao_active_backend
    mode http
    balance first

    option httpchk GET /v1/sys/health
    http-check expect status 200

    default-server inter 2s fall 3 rise 2

    server bao1 10.9.0.71:8200 check
    server bao2 10.9.0.72:8200 check
    server bao3 10.9.0.73:8200 check

listen haproxy_stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 10s
